.consultationFormOverlay {
    background-color: #000000;
    transition: background-color 0.3s ease-out;
    padding: 48px 0 71px;
}

.consultationFormWrapper {
    padding: 64px 10px;
    margin: 0 auto;
    background-image: url(../../assets/images/form-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
}

@media screen and (min-width: 1024px) {
    .consultationFormOverlay {
        background-color: #f9f9f9;
        padding: 160px 0;
    }

    .consultationFormWrapper {
        padding: 146px 50px;
        border-radius: 56px;
    }
}