.headerOverlay {
    padding: clamp(16px, 0.77vw + 10px, 21px) clamp(20px, 4.62vw, 50px);
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(32px);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
}

.navList {
    display: none;
}

.logo {
    width: clamp(63px, 5.54vw + 1px, 73px);
    height: clamp(28px, 2.616vw + 1px, 32px);
    fill: #ffffff;
}

.btns {
    display: flex;
    gap: 8px;
}

.btn {
    display: flex;
    padding: clamp(8px, 17px - 0.5vw, 12px);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    outline: none;
    border: none;
}

.btnText {
    display: none;
}

.btnPen {
    background-color: #ffffff;

    .btnIconPen {
        fill: #000000;
    }
}

.btnMenu {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);

    .btnIconMenu {
        fill: #ffffff;
    }
}

.btnIcon {
    width: clamp(16px, 25px - 0.8vw, 22px);
    height: clamp(16px, 25px - 0.8vw, 22px);
}

@media screen and (min-width: 1024px) {
    .headerScrolled {
        background-color: transparent;
        backdrop-filter: none;

        .header {
            max-width: 1080px;
            margin: 0 auto;
            padding: 16px;
            border-radius: 166px;
            backdrop-filter: blur(32px);
            background: rgba(22, 24, 26, 0.7);
        }
    }

    .logoWrapper {
        display: flex;
        align-items: center;
    }

    .navList {
        display: flex;
        gap: clamp(30px, 2.616vw, 46px);
        margin-left: clamp(80px, 5.616vw, 119px);
    }

    .navLink {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: clamp(14px, 0.616vw + 0px, 16px);
        line-height: 100%;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: #ffffff;
    }

    .btnMenu {
        display: none;
    }

    .btnPenWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 166px;
        padding: clamp(8px, 0.77vw + 4px, 12px);
        cursor: pointer;

        .btnText {
            display: block;
            font-family: var(--second-family);
            font-weight: 700;
            font-size: clamp(14px, 0.616vw + 0px, 16px);
            line-height: 100%;
            letter-spacing: -0.02em;
            text-align: center;
            color: #ffffff;
            padding: 0 clamp(16px, 1.4vw, 25px);
        }
    }
}
